body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #E6E6FA;
    color: black;
}

header{
    background-color: aliceblue;
    color:black;
    padding: 20px;
}